body{
    background-color: #F2F3F5;
    padding: 15px;
}

*{
    margin: 0;
    padding: 0;
}

.layui-card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addForm, .editForm{
   padding-top: 20px;
   padding-right: 30px;
}